.sf-menu ul {position:absolute; top:-999px; display:none; text-transform:uppercase;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:99}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;}
ul.sf-menu>li{font-family:  Georgia, "Times New Roman", Times, serif; font-style:italic;
			font-size:18px;
			line-height:24px;
			margin:0;
			float:left;
			position:relative;
			padding:0;
			}
						
ul.sf-menu>li>a{font-size:18px; 
				color:#ffffff; 
				text-align:center; 
				padding:13px 0;}
				
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {background:#f4dd1d;}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{color:#000000;}

.sf-menu>li>ul{left:0;
				 top:58px;
				 width:156px;
				 padding:0;
				 background:#000;
				 text-align:left;}

.sf-menu>li>ul>li {
	float:none;
	text-align:left;  
	font-size:13px;
	line-height:16px;
	font-family: Arial, Helvetica, sans-serif; 
	width:100%;
	background: url(../images/bg-li-li.jpg) 0 top no-repeat;
}
.sf-menu>li>ul>li:first-child{background: none;}
									
.sf-menu>li>ul>li>a {
	display:block;
	color:#c0c0c0;  
	padding:5px 0 5px 20px; 
	text-align:left;
	font-size:13px;
	font-style: normal !important;
	text-transform: none !important;}
				
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{background:#424242;}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {}

.sf-menu li li ul {left:126px;
				 top:78px !important;
				 display:block;
				 width:155px;
				 padding:0;
				 background:#000;
				 text-align:left; }
				
.sf-menu li li li {float:none;
					text-align:left;  
					font-size:13px;
					line-height:16px;
					font-style: normal;
					font-family: Arial, Helvetica, sans-serif;
					width:100%; 
					text-transform: none !important;
					background: url(../images/bg-li-li.jpg) 0 top no-repeat;
					}
.sf-menu li li li:first-child{background: none;}
.sf-menu li li li a {display:block;
	color:#c0c0c0;  
	padding:5px 0 5px 20px; 
	text-align:left;}
					
.sf-menu li li li:hover {background:#424242;}
.sf-menu li li li a:hover {}
